/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

html, body, .container, .container > .row, main {
	height: 100% !important;
}

.header {
	border-bottom: none;
	background-image: url(https://s3-us-west-2.amazonaws.com/haziba-please-take-my-dog/IMG_20170616_164017.jpg);
	height: 150px;
	position: relative;
	background-position: 60% 10%;

	h1 {
		color: white;
		position: absolute;
		bottom: 0px;
	}
}

// Give the navigation some padding
.nav {
	margin: 10px 0;
	
	// Style the active links
	a.active {
		font-weight: bold;
	}

	.nav-links {
		margin: 5px;
	}

	hr {
		margin: 0px -15px;
	}
}

.inline {
	display: inline;
}

img {
	width: 100%;
}

.dog-tile {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

body {
	background-color: #ddd;
}

main {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fff;
}

.dogLists {
	h3 {
		text-transform: capitalize;
	}
}
